/* write your override styles here */
#wall .tag1{
    display:none;
}

#wall #tag2{
    display:none;
}
#wall #tag3{
    display:none;
}
#wall #tag4{
    display:none;
}
#wall #tag5{
    display:none;
}
#wall #tag6{
    display:none;
}
#wall #tag7{
    display:none;
}



div{
    display: none;
}
.parents{
    display: none;
}